*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
width:100%;
height:100vh;
overflow:hidden;

background:
linear-gradient(
135deg,
#ff9a9e,
#fad0c4,
#fad0c4,
#fbc2eb
);

display:flex;
justify-content:center;
align-items:center;
}

.container{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.card{
background:rgba(255,255,255,0.15);
backdrop-filter:blur(15px);
padding:30px;
border-radius:25px;
text-align:center;
width:100%;
max-width:500px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
animation:fade .8s ease;
}

h1{
color:white;
font-size:2rem;
margin-bottom:20px;
}

p{
color:white;
margin-bottom:20px;
font-size:1rem;
}

.btn{
border:none;
padding:15px 25px;
border-radius:50px;
margin:10px;
cursor:pointer;
font-size:1rem;
font-weight:600;
}

.yes{
background:#ff4081;
color:white;
}

.no{
background:white;
}

.option{
display:block;
width:100%;
margin:12px 0;
padding:15px;
border:none;
border-radius:15px;
font-size:1rem;
cursor:pointer;
}

.preview{
width:100%;
height:250px;
object-fit:cover;
border-radius:20px;
margin-bottom:20px;
}

.final-title{
font-size:2.5rem;
color:white;
}

.gallery{
display:flex;
overflow-x:auto;
gap:10px;
margin-top:20px;
}

.gallery img{
width:200px;
height:250px;
object-fit:cover;
border-radius:20px;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}
.people-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:20px;
}

.person-card{
background:white;
padding:10px;
border-radius:20px;
cursor:pointer;
transition:0.3s;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.person-card:hover{
transform:scale(1.05);
}

.person-card img{
width:100%;
height:170px;
object-fit:cover;
border-radius:15px;
}

.person-card h3{
margin-top:10px;
text-align:center;
color:#333;
font-size:16px;
}

.friends-scroll{
display:flex;
overflow-x:auto;
gap:20px;
padding:20px 0;
scroll-snap-type:x mandatory;
}

.friends-scroll::-webkit-scrollbar{
height:8px;
}

.friend{
min-width:220px;
scroll-snap-align:center;
background:white;
border-radius:20px;
padding:10px;
flex-shrink:0;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.friend img{
width:100%;
height:280px;
object-fit:cover;
border-radius:15px;
}

.friend h3{
text-align:center;
margin-top:10px;
color:#333;
}